<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish ajuda humanitária</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <style>

    </style>
</head>
<body class="backgroundsite">
    <header>
        <a href="#" class="logoimage"><img src="imagens/logowish.png" alt="Wish Logo" style="max-width: 20%; height: auto;"></a>
        <nav class="nav">
            <a href="https://www.estado.rs.gov.br/midia/imagem/qrcode-sos-rio-grande-do-sul-maio24-png" class="logo">AJUDE!</a>
        </nav>
    </header>

    <div class="carousel" id="carousel3">
        <div class="slide active">
            <img src="imagens/carousel3/imagem1.jpg" alt="Imagem 1">
        </div>
        <div class="slide">
            <img src="imagens/carousel3/imagem2.jpg" alt="Imagem 2">
        </div>
        <div class="slide">
            <img src="imagens/carousel3/imagem3.jpg" alt="Imagem 3">
        </div>
        <div class="slide">
            <img src="imagens/carousel3/imagem4.jpg" alt="Imagem 4">
        </div>

    </div>

    <div class="topnav">
        <a href="index.html">Início</a>
        <a href="entenda.html">Entenda</a>
        <a href="depoimentos.html">Depoimentos</a>
        <a href="duvidas.html">Dúvidas</a>
        <a href="comunidade.html">Comunidade</a>
    </div>

    <div class="adjustable-container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center custom-col">
                <h2 class="custom-title">Muitas pessoas precisam da sua ajuda!</h2>
                <p class="custom-description">As fortes precipitações afetam 388 municípios do Rio Grande do Sul, o que representa 78,13% dos 497 municípios do estado. Os dados estão no boletim da Defesa Civil estadual, atualizado às 9h desta terça (7).
                </p>
                <p class="custom-description">
                    O balanço também aponta 90 mortes confirmadas por conta dos temporais e mais quatro óbitos em investigação para confirmar se há relação com os eventos meteorológicos recentes. 
                    </p>
                <p class="custom-description">
                    Atualmente, o número de indivíduos desaparecidos alcança 132. Segundo o levantamento oficial, existem 361 vítimas em todo o estado.
                    </p>
                <p class="custom-description">
                    Segundo o Censo de 2022 do Instituto Brasileiro de Geografia e Estatística (IBGE), há 1,36 milhão de pessoas afetadas pelas chuvas que ocorrem desde 29 de abril, o que representa 12,55% da população do estado.
                    </p>
                <p class="custom-description">
                    O governo ainda tem 155.741 pessoas desalojadas, e 48.147 estão temporariamente em abrigos.
                </p>


            </div>
        </div>
    </div>




    
    <img src="imagens/depoimentos/depoimento1.jpg" alt="Imagem 1" class="full-width-image">
    
    <div class="adjustable-container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center custom-col">
                <p class="custom-description">"Agora chego aqui e não sei se tenho mais casa. Eu saí só com a roupa do meu filho", diz Tatiane, uma das centenas de vítimas das enchentes que assolam o Rio Grande do Sul desde a semana passada. "A gente nunca viu nada assim. Via alagar, mas a água evacuava. Agora a água está cobrindo casas", completa.
                </p>

                <p class="custom-description">
                    Ela mora com o marido e o filho de 7 anos. "A gente batalhou a vida inteira por nossa casa. Agora é rezar pela vida", diz o esposo, que relata os danos que afetam o bairro do Sarandi, na Zona Norte da capital gaúcha.
                </p>

            </div>
        </div>
    </div>

    <img src="imagens/depoimentos/depoimento2.jpg" alt="Imagem 1" class="full-width-image">

    <div class="adjustable-container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center custom-col">
                <p class="custom-description">"Eu tinha pena dos outros que eu via no abrigo, mas eu pensei: 'eu nunca vou precisar'. Eu tinha pena de ver aquelas pessoas tudo de fora, na água se mudando, casa caindo. Agora chegou na minha casa isso aí. Eu estou desesperada. Nunca pensei que ia passar por isso", diz Belmira Ramos, aposentada.
                </p>

                <p class="custom-description">Copie o número do CNPJ responsável pelas doações: <span id="myText">92.958.800/0001-38</span></p>
                <button onclick="copyToClipboard()">Copiar</button>

                <p class="custom-link">
                    Segue abaixo a imagem com pix feito pelo <a href="https://www.estado.rs.gov.br/midia/imagem/qrcode-sos-rio-grande-do-sul-maio24-png" class="custom-link">Governo estadual</a>:
                </p>

            </div>
        </div>
    
    </div>
    
    <div class="adjustable-container">

        </div>

    <img src="imagens/Rio-Grande-do-Sul-pix.jpg" alt="Imagem 1" class="full-width-image">
    
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <p>© 2024 Wish. Todos os direitos reservados.</p>
                    <p>Desenvolvido pelo gaúcho Christian Noronha Picoli</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
